*{
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    background-color: rgb(218, 172, 218);
    color: black;
    padding: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
nav ul{
    background-color: rgb(238, 217, 248);
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: dotted;
    color: rgb(116, 115, 114);
    padding: 5px;
    width: 200px;
}
img{
    width: 230px;
    height: 230px;
    border-radius: 5%;
    object-fit: over;
}
.contenido {
    display: flex;
    margin: 40px;
}
.articulos{
    width: 85%
}
.secciones{
    align-items: flex-start;
    padding: 10px;
}
.letras{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.letra_parrafo{
    text-align:justify;
}
.imagen{
    display: flex;
    justify-content: center;
}
h2{
    color: blueviolet;
    margin-bottom: 5px;
    margin-top: 5px;
}
.lado{
    width: 20%;
    margin: 20px;
}
.lado a{
    display: block;
    text-align: center;
    margin-bottom: 35px;
    color: rgb(139, 0, 93);
}
footer{
    width: 100%;
    height: 500px;
    background-color: rgb(197, 138, 252);
    color: black;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formulario1{
    width: 40%;
    display: flex;
    flex-direction: column;
}